<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PATH</key>
	<string>/System/Library/Frameworks/JavaVM.framework/Versions/1.6/Home/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	<key>JAVA_HOME</key>
	<string>/System/Library/Frameworks/JavaVM.framework/Versions/1.6/Home</string>
</dict>
</plist>
