"*":
  core:
    allowPendingPaneItems: false
    telemetryConsent: "limited"
  editor: {}
  "exception-reporting":
    userId: "609704e4-8c8b-6712-5c66-b42f5f9d3508"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ui-default":
    showPanel: true
  welcome:
    showOnStartup: false
