"*":
  core:
    allowPendingPaneItems: false
    projectHome: "/Users/josh/Projects"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor: {}
  "exception-reporting":
    userId: "609704e4-8c8b-6712-5c66-b42f5f9d3508"
  "go-plus":
    disabledBundledPackages: [
      "hyperclick"
      "go-debug"
      "go-signature-statusbar"
      "atom-ide-ui"
    ]
    format:
      tool: "gofmt"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ui-default":
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      showInStatusBar: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
